[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
gunicorn = "~=20.1"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.12"
