{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
    <a class="navbar-brand" href={% url 'home' %}>Money Bee</a>
</div>
</nav>
{% endblock%}
{% block content %}
    <div class="container">
    <form method="POST">
        {% csrf_token %}{{form|crispy}}
        <p> Don't have an account? Create one <a href="/sign-up">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}