{% extends "expense_tracker/personal_home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Add Wallet
{% endblock %}

{% block css_files %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,500,0,200" />
{% endblock %}

{% block content%}
<div class="container text-center">
    <h3>New Wallet</h3>
    <div class="container text-start">
        <form action="{% url 'create_wallet' %}" method="post">
            {% csrf_token %}
            {{ form |crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-info">Log Wallet</button>
            </div>
        </form>
    </div>
    <a class="btn btn-secondary my-3" href="{% url 'list_wallet' %}" aria-label="back">Back</a>
</div>
{% endblock %}