{% extends "expense_tracker/personal_home.html" %}
{% load static %}

{% block overview %}active{% endblock %}
{% block custom-css-files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
{% endblock %}
{% block content %}

<div class="container my-3">
  <h2 class="text-center">Wallets Overview</h2>
</div>
<table class="container table table-striped">
  <thead>
    <tr>

      <th scope="col">Wallet name</th>
      <th scope="col">Balance</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      {% for wallet in wallets %}
      <td>{{wallet.name}}</td>
      <td>{{ wallet.balance }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
<div id="chart_div"> </div>



<div class="container my-3">
  <h2 class="text-center">Spending overview </h2>
  <div id="data-container" data-trial="{{ trial | escapejs }}"></div>
  <div id="chart_div"> </div>
</div>

<div class="container text-center border" id="column-example-4">
  <table class="charts-css column show-labels show-data-on-hover data-outside data-spacing-2 ">
    <caption> Spending overview </caption>
    <thead>
      <tr>
        <th scope="col"> Year </th>
        <th scope="col"> Progress </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> 2016 </th>
        <td style="--size: 0.2;"></td>
      </tr>
      <tr>
        <th scope="row"> 2017 </th>
        <td style="--size: 0.4;"></td>
      </tr>
      <tr>
        <th scope="row"> 2018 </th>
        <td style="--size: 0.6;"></td>
      </tr>
      <tr>
        <th scope="row"> 2019 </th>
        <td style="--size: 0.8;"></td>
      </tr>
      <tr>
        <th scope="row"> 2020 </th>
        <td style="--size: 1;"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container my-3">
  <table class="table my-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Grocery</td>
        <td>500</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Gasoline</td>
        <td>200</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Takeaway</td>
        <td>100</td>

      </tr>
    </tbody>
  </table>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src={% static 'expense_tracker/overview.js' %}></script>


{% endblock %}