{% extends "expense_tracker/personal_home.html" %}
{% load static %}

{% block overview %}active{% endblock %}
{% block custom-css-files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
{% endblock %}
{% block content %}




<div class="container my-3">
  <h2 class="text-center">Wallets Overview</h2>
</div>
<table class="container table table-striped">
  <thead>
    <tr>

      <th scope="col">Wallet name</th>
      <th scope="col">Balance</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      {% for wallet in wallets %}
      <td>{{wallet.name}}</td>
      <td>{{ wallet.balance }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>

<div class="container d-flex justify-content-center" id="mychart_container">
<canvas id="myChart"></canvas>
</div>

<div class="container my-3">
  <h2 class="text-center">5 Largest Withdrawals</h2>
</div>

<div class="container d-flex justify-content-center" id="mychart_container">
  <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{ totals|json_script:"totals" }}
{{ top_transactions|json_script:"top_transactions"}}
<script src={% static 'expense_tracker/overview.js' %} defer></script>


{% endblock %}