{% extends "expense_tracker/personal_home.html" %}
{% block title %}
    <h1>Your Moel List</h1>
{% endblock %}    
{% block content %} 

<div class="container-fluid text-center align-items-center py-2">
    <div>
        
    <a href={% url 'create_transaction'  %} class="btn btn-info mb-5">Create Transaction</a>
</div>

</div>

<ul>
        {% for transaction in transactions %}
            <li>
                <p>{{ transaction.wallet }}</p> - <p>{{ transaction.amount }}</p> <p>{{ transaction.category }}
                <a href="{% url 'update_transaction' transaction.pk %}">Update</a>
                <a href="{% url 'delete_transaction' transaction.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
