{% extends 'expense_tracker/personal_home.html' %}

{% block title %}All Transactions {% endblock %}

{% block content %}
 <ul>
    {% for transaction in transactions %}
   <div class="block">
    <li>{{ transaction.amount }}</li>
    {% endfor %}
 </ul>

 <h1>Edit Transaction</h1>

 {% for transaction in transactions %}
 <form method="POST">
     {% csrf_token %}
     {{ transaction }}
     <button type="submit">Save</button>
 </form>
 <a href="{% url 'list_transaction' %}">Back to Transactions</a>

 {% endfor %}
 {% endblock %}