{% extends "base.html" %}
{% block navbar %}
    {% comment %}
    Intentionally leaving blank to avoid confusion for different navigation
    authenticated and non-authenticated users
    {% endcomment %}
{% endblock %}
{% block content %}
<div class="container text-center">
    <h1>Page Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <a class="btn btn-success" href="javascript:history.back()" aria-label="go back to previous page">Go Back</a>
</div>
{% endblock %}